<section class="hero">
  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">JSC Hack</h3>
        <nav class="nav nav-masthead jusify-content-center">
          <a class="nav-link active" href="#">Home</a>
          <a class="nav-link" href="#">Schedule</a>
          <a class="nav-link" href="#">FAQ</a>
        </nav>
      </div>
    </header>

    <main role="main" class="inner cover">
      <h1 class="cover-heading">{{ site.event.name }}</h1>
      <p class="lead">{{ site.event.description }}</p>
      <p class="lead"><a href="#" class="btn btn-lg btn-secondary">Learn more</a></p>
  </div>
</section>



<!--<section class="hero">
  <div class="wrapper text-center">
    <h1 rel="title">{{ site.event.name }}</h1>
    <h2 rel="description">{{ site.event.description }}</h2>
    <h3 rel="location">{{ site.event.date }} &mdash; {{ site.event.location }}</h3>
    <hr>
    <div class="buttons">
      {% for link in site.event.hero.links %}
        {% if link.href %}
          <a href="{{ link.href }}">{{ link.text }}</a>
        {% elsif link.my_mlh %}
          <a class="apply" href="https://my.mlh.io/oauth/authorize?client_id={{ link.my_mlh.client_id }}&amp;redirect_uri={{ link.my_mlh.redirect_uri }}&amp;response_type=token">{{ link.text }}</a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>-->
