<section class="hero">
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">
        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand">JSC Hack</h3>
            <nav>
              <ul class="nav masthead-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Schedule</a></li>
                <li><a href="#">FAQ</a></li>
              </ul>
            </nav>
          </div>
        </div>

        <div class="inner cover">
          <h1 class="cover-heading">{{ site.event.name }}</h1>
          <p class="lead">{{ site.event.description }}</p>
          <p class="lead">
            <a href="#" class="btn btn-lg btn-default">Learn more</a>
          </p>
        </div>

      </div>

    </div>

  </div>
</section>


<!--<section class="hero">
  <div class="wrapper text-center">
    <h1 rel="title">{{ site.event.name }}</h1>
    <h2 rel="description">{{ site.event.description }}</h2>
    <h3 rel="location">{{ site.event.date }} &mdash; {{ site.event.location }}</h3>
    <hr>
    <div class="buttons">
      {% for link in site.event.hero.links %}
        {% if link.href %}
          <a href="{{ link.href }}">{{ link.text }}</a>
        {% elsif link.my_mlh %}
          <a class="apply" href="https://my.mlh.io/oauth/authorize?client_id={{ link.my_mlh.client_id }}&amp;redirect_uri={{ link.my_mlh.redirect_uri }}&amp;response_type=token">{{ link.text }}</a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>-->
